.nav-panel {
    background-color: #1976d2;
}

.nav-item:hover {
    background-color: #1e88e5;
}

.nav-link, .nav-link:hover {
    color: white;
}

.footer-panel {
    background-color: #c4c4c4;
}

.required-input-label::after {
    color: #d43f3a;
}

.btn {
    background-color: #1976d2;
    color: #fff;
}

.btn:hover {
    background-color: #1e88e5;
}

.vocab-set-card {
    background-color: #c4c4c4;
    border: 1px solid #c4c4c4;
    color: black;
}

.vocab-set-card:hover {
    background-color: #1e88e5;
    border-color: #1e88e5;
}

.form-item > .input:focus {
    outline: none;
}

.link {
    color: black;
}

.basic-link {
    color: black;
}

.inviting-link {
    color: #1976d2;
}

.basic-link:hover {
    color: #1976d2;
}

.removal-link {
    color: #d43f3a;
}

p.word, p.definition {
    color: black;
}

.word-card {
    background-color: #c4c4c4;
}

.word-card-key {
    color: black;
}

.word-card-value {
    color: black;
}
