* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* Navbar styling */
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    padding: 0 70px;
    background-color: #323232;
    position: sticky;
}

.profile-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    padding: 0 35px;
    background-color: #f5f5f7;
    margin-bottom: 20px;
}

.profile-menu-item {
    padding: 10px 20px;
    transition: color .2s ease;
}

.profile-menu-item:hover {
    color: #0039cb;
}

.profile-menu-link {
    text-decoration: none;
    color: black;
}

.nav-left, .nav-right, .nav-center {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    padding: 15px 40px;
}

.nav-item:hover {
    background-color: #707070;
    transition: 0.3s ease;
}

.nav-link {
    color: white;
    text-decoration: none;
}

/* Footer styling */
footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #f5f5f7;
    font-size: 3px;
}

.footer-item {
    padding: 5px 20px;
}

/* Main content styling */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}

.main-container > .main-image-container {
    width: 100%;
    height: 100%;
    /*background-image: url("resources/dictionary-unsplash.jpg");*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.required-input-label::after {
    content: " *";
    color: darkred;
}

.btn {
    width: fit-content;
    background-color: #2962ff;
    border-radius: 3px;
    color: #fff;
    border: none;
    padding: 8px 12px;
    text-transform: uppercase;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-size: 14px;
    margin: 10px;
}

.btn:hover {
    background-color: #0039cb;
    transition: 0.3s ease;
}

.message {
    padding: 10px 15px;
    margin: 10px;
    /*border-radius: 3px;*/
    text-align: center;
}

.error-message {
    /*background-color: rgba(212, 63, 58, 0.3);*/
    color: #d43f3a;
}

.info-message {
    /*background-color: rgba(124, 179, 66, 0.3);*/
    color: #4b830d;
}

/* Form styling */
.form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    grid-gap: 10px;
    padding: 10px;
}

.form-heading {
    font-size: larger;
    text-transform: uppercase;
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-item > .input {
    width: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}

.form-item > label {
    font-size: small;
}

/* Login form */
.login-form > .form-items-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "username" "password";
}

.login-form > .form-item-username {
    grid-area: username;
}

.login-form > .form-item-password {
    grid-area: password;
}

/* Signup form */
.signup-form > .form-items-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "first last"
        "birthdate birthdate"
        "email username"
        "pwd pwdr"
}

.signup-form > .form-item-first-name {
    grid-area: first;
}

.signup-form > .form-item-last-name {
    grid-area: last;
}

.signup-form > .form-item-birthdate {
    grid-area: birthdate;
}

.signup-form > .form-item-email {
    grid-area: email;
}

.signup-form > .form-item-username {
    grid-area: username;
}

.signup-form > .form-item-password {
    grid-area: pwd;
}

.signup-form > .form-item-password-repeat {
    grid-area: pwdr;
}

.signup-form > .form-item-last-name {
    grid-area: last;
}

/* Add a new word form */
.add-word-form > .form-items-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "word" "definition";
}

.add-word-form > .form-item-word {
    grid-area: word;
}

.add-word-form > .form-item-definition {
    grid-area: definition;
}

/* Add a set form */
.add-set-form > .form-items-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "setname";
}

.add-set-form > .form-item-set-name {
    grid-area: setname;
}

/* Page styling */
.main-content-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0 60px;
    flex-grow: 1;
    margin: 20px 0;
}

.toolbar {
    width: 25%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 0;
}

.toolbar-item {
    margin: 5px 0;
}

.content {
    width: 75%;
    flex-shrink: 1;
}

/* Vocabulary sets page styling */
.vocab-set-card {
    background-color: rgba(219, 219, 219, 0.4);
    padding: 20px;
    font-size: larger;
    color: black;
    margin: 10px 60px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.vocab-set-card:hover {
    background-color: rgb(230, 230, 230);
    transition: background-color .1s ease;
}

.link {
    text-decoration: none;
    color: black;
}

.basic-link {
    color: black;
}

.inviting-link {
    color: #0039cb;
}

.basic-link:hover {
    text-decoration: underline;
    color: #0039cb;
}

.removal-link {
    color: #d43f3a;
    font-weight: bolder;
}

.removal-link:hover {
    text-decoration: underline;
}

/* List of words in a set page styling*/
p.word {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 4px;
    text-transform: capitalize;
}

p.definition {
    font-size: medium;
    margin-top: 4px;
    text-transform: none;
}

/* Word card styling */
.word-card {
    background-color: rgba(219, 219, 219, 0.4);
    padding: 20px;
    color: black;
    margin: 10px 60px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.word-card-key {
    font-size: x-large;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    padding: 10px 0 5px 0;
    text-transform: capitalize;
}

.word-card-value {
    width: 100%;
    padding: 10px 0 5px 0;
    text-align: center;
}


