* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.required-input-label::after {
    content: "*";
    color: darkred;
}

form {
    width: 40vw;
}

.form-elements-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.form-element {
    display: flex;
    justify-content: space-around;
}

.btn {
    width: fit-content;
    background-color: #2962ff;
    border-radius: 3px;
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: #0039cb;
    transition: 0.5s;
}